.Location {
  flex-direction: column;
}

h2 {
  margin: 10px;
  font-size: large !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.location-block {
  width: 250px !important;
  max-height: fit-content;
  border: solid;
  border-radius: 3px;
  border-color: grey;
  border-width: 1px;
  background-color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 20px;
}

.location-body {
  margin: 10px;
}

.button-location {
  background-color: #353b46;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button-location:hover {
  background-color: #282c34;
  cursor: pointer;
}
