.history-head {
  width: 300px;
  height: fit-content;
  border: solid;
  border-radius: 3px;
  border-color: rgb(199, 199, 199);
  border-width: 1px;
  background-color: white;
  color: #15c3f3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px;
  font-size: smaller;
}
