.Home {
  vertical-align: top;
  background-color: #cacaca;
  overflow: hidden;
}

.AlertsCenter {
  top: 15%;
  position: sticky;
  display: inline-block !important;
  align-items: center !important;
  justify-content: center !important;
  vertical-align: top !important;
}

.Location {
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.State {
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.History {
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.column1 {
  float: left;
  width: 31%;
  padding: 0 10px;
  margin: 1px;
  position: fixed;
  overflow: auto;
}

.column2 {
  left: 31%;
  float: left;
  width: 31%;
  padding: 0 10px;
  margin: 1px;
  position: fixed;
  overflow: auto;
}

.column3 {
  left: 62%;
  float: left;
  width: 31%;
  height: 74%;
  padding: 0 0px;
  position: fixed;
  overflow-y: scroll;
}

.column3::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
