.Home {
  vertical-align: top;
}

.AlertsCenter {
  top: 15%;
  position: sticky;
  width: 40%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.Location {
  top: 15%;
  position: sticky;
  width: 30%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

.State {
  top: 15%;
  position: sticky;
  width: 30%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}
