.Login {
  width: max-content;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login-form {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: gray;
  padding: 10px;
}

.login-button {
  border: unset;
  border-radius: 4px;
  background-color: #282c34;
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: medium;
}

.login-button:hover {
  background-color: #1b1e24;
  cursor: pointer;
}

.login-label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
  color: darkgrey;
  margin-top: 20px;
}

.login-input {
  border: unset;
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(243, 243, 243);
  margin: 10px;
  width: 200px;
  text-align: center;
}

.sign-in-link {
  font-size: smaller;
  margin: 10px;
  color: #61dafb;
}

.sign-in-link:hover {
  cursor: pointer;
  color: #15c3f3;
  text-decoration: underline;
}
